@import "./root";

$sm: 576px;
$md: 768px;
$lg: 1200px;

.group {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-sm);

    &__item {
        flex: 1 1 33%; 
        display: flex;
        flex-direction: column;
        gap: var(--gap-sm);        
    }

    &--center {
        align-items: center;
        justify-content: center;
    }

    &--mobile {
        flex-direction: column;
        gap: var(--gap-sm);

        @media (min-width: $sm) {
            flex-direction: row;
            gap: var(--gap-lg);
        }
    }
}
