.offer {
  background-color: var(--color-grey-light);
  overflow: hidden;
  padding: var(--padding-md) 0;
  text-align: center;
}

.offer--main {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer--without-bg {
  background-color: var(--color-white);
}

.offer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 60% 60%;
      grid-template-columns: 60% 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--gap-md);
  width: 100%;
}

.offer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--gap-md);
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.offer__headline {
  font-size: var(--fs-lg);
  color: var(--color-blue-main);
  margin-bottom: var(--gap-md);
}

.offer__logo {
  display: inline-block;
  position: relative;
  top: calc(var(--fs-lg) / 3.5);
  height: calc(var(--fs-lg) * 1.25);
  max-height: calc(var(--fs-lg) * 1.25);
}

.offer__papagraph {
  font-size: var(--fs-base);
  color: var(--color-regular);
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

@media (max-width: 767px) {
  .offer__papagraph {
    font-size: var(--fs-sm);
  }
}

.offer__image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: var(--gap-md) 0;
}

.offer__image .collage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .offer {
    text-align: left;
    padding-top: var(--padding-lg);
    padding-bottom: var(--padding-lg);
  }
  .offer__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    gap: var(--gap-xl);
    height: 100%;
  }
  .offer__text {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offer__headline {
    font-size: var(--fs-xl);
    margin-bottom: 40px;
  }
  .offer__logo:not(.offer__logo--sm) {
    top: calc(var(--fs-xl) / 3.5);
    height: calc(var(--fs-xl) * 1.25);
    max-height: calc(var(--fs-xl) * 1.25);
  }
  .offer__papagraph {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    gap: var(--gap-sm);
  }
  .offer__image {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1300px) {
  .offer__content {
    gap: var(--gap-lg);
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
  }
}
